<html>

<head>
  <title>Dashboard - config</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>Config</h1>
      <h2>GraphQL</h2>
      {{#if config.graphql}}
      <p>
        Congratulations graphQL has been set up, visit it here:
        <a href="{{config.graphql.host}}/playground">{{config.graphql.host}}/playground</a>, or check it's
        <a href="/developer/graphql/status">status here</a>.
      </p>
      <p>
        You can reconfigure it below is needed.
      </p>
      {{else}}
      <p>
        You need to set GraphQL up, you can check out the repository from here
        <a href="https://github.com/wcmaart/api">https://github.com/wcmaart/api</a>, follow the instructions found there to get things up and running. Once you have
        it running enter the host URL in the form below.
      </p>
      <p>
        {{#ifEqual NODE_ENV 'development'}} This will probably be something like
        <code>http://localhost:4000</code>
        {{else}} This will be your domain URL that you've exposed as your graphQL server, you should
        <em>not</em> include the
        <code>/graphql</code> path, we will add that. For example...
        <br /> Yes:
        <code>https://somedomain.com</code>
        <br /> No:
        <code>https://somedomain.com/graphql</code>. {{/ifEqual}}
      </p>
      {{/if}}
      <p>
        <form method="post">
          <table>
            <tr>
              <td>GraphQL</td>
              <td>
                <input type="text" name="graphql" placeholder="{{#ifEqual NODE_ENV 'development'}}http://localhost:4000{{else}}https://domain.com{{/ifEqual}}"
                  {{#if config.graphql.host}}value="{{config.graphql.host}}" {{/if}}>
            </tr>
            <tr>
              <td colspan="2">
                <button type="submit" value="updategraphql" name="action">Update</button>
              </td>
            </tr>
          </table>

        </form>

      </p>
    </div>
  </div>

  {{> tail}}
</body>

</html>