<html>

<head>
  <title>Dashboard - GraphQL Documentation</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>GraphQL Documention</h1>
      <p>
        Here you can find out all about how to make GraphQL calls. Remember you will need your developer key which you can always
        find on the main
        <a href="/developer">Developers Help</a> page, but it's also here:
        <code>{{user.apitoken}}</code>
      </p>
    </div>
  </div>

  {{> tail}}
</body>

</html>