<html>

<head>
  <title>Dashboard - GraphQL Documentation</title>
  {{> head}}
  <link href="/css/prism.css" rel="stylesheet" />
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>GraphQL Documention</h1>
      <p>
        Here you can find out all about how to make GraphQL calls. Remember you will need your developer key which you can always
        find on the main
        <a href="/developer">Developers Help</a> page, but it's also here:
        <code>{{user.apitoken}}</code>
      </p>

      <p class="note">
        <strong>NOTE:</strong> This documentation is very new and evolving but should be enough to get you up and running, we will
        be expanding it in the near future.
      </p>
      <hr>

      <h1>Table of Contents</h1>
      <p>
        <ul class="toc">
          <li>
            <a href="#about-graphql">About GraphQL</a>
            <ul>
              <li>
                <a href="#comminicating-with-graphql">Communicating with GraphQL</a>
              </li>
              <li>
                <a href="#graphql-explorer">GraphQL explorer</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#graphql-queries">GraphQL Queries</a>
            <ul>
              <li>
                <a href="#introspection">Introspection</a>
              </li>
              <li>
                <a href="#artworks">Hello</a>
              </li>
            </ul>
          </li>
        </ul>
      </p>

      <hr>

      <h2>
        <a name="about-graphql">About GraphQL</a>
      </h2>

      <p>
        GraphQL is a data query language you'll use to request information from the WCMA data store. Traditionally GraphQL allows
        two types of operations,
        <em>queries</em> and
        <em>mutations</em> these can be thought of as
        <em>read</em> and
        <em>write</em> operations.
      </p>
      <p>
        As well as one more operation called
        <em>introspective</em>, which allows you to ask the GraphQL endpoint about itself.
      </p>
      <p>
        Below you will find examples of various calls to can make to the GraphQL endpoint.
      </p>



      <h3>
        <a name="comminicating-with-graphql">Communicating with GraphQL</a>
      </h3>

      <p>
        The single endpoint for all GraphQL calls is...
      </p>
      <p>
        <code>{{config.graphql.host}}/graphql</code>
      </p>
      <p>
        GraphQL operations consist of multiline JSON, an example "Hello World" GraphQL query is show below:
      </p>
      <p class="runinexplore">
        <a href='{{exploreQuery queries.hello "" config.graphql.host}}'>Run in explore</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.hello ''}}}</pre>

      <p>
        To query GraphQL using cURL, make a
        <code>POST</code> request with a JSON payload. The payload must contain a string called query and your API token as
        <code>bearer</code> authorization.
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.hello '' config.graphql.host user.apitoken}}}</pre>
      </p>
      <p>
        Using Nodejs it may look like this, making sure to pass in your API token as a
        <code>bearer</code> token as shown.
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.hello '' config.graphql.host user.apitoken}}}</pre>
      </p>
      {{!---



      <h3>
        <a name="graphql-explorer">GraphQL explorer</a>
      </h3>
      <p>
        Probably the easiest way to try out GRaphQL queries is to use the exporer which can be found here:
        <a href="{{config.graphql.host}}/playground">{{config.graphql.host}}/playground</a>
      </p>

      <p>
        You can see an
        <a href='{{exploreQuery queries.artworks "(limit: 20)" config.graphql.host}}'>example query in the explorer here</a>, you will need to press the "run" button to see the results of the query.
      </p>

      <hr>

      <h1>
        <a name="graphql-queries">GraphQL Queries</a>
      </h1>

      <p>
        Below you'll find a list of the current queries you can make against the data store.
      </p>



      <h2>
        <a name="introspection">Introspection</a>
      </h2>

      <p>
        The
        <em>introspection</em> operation is the only operation you can call using
        <code>GET</code>. Introspection allows you to query the GraphQL schema for details about itself. Query
        <code class="red">__schema</code> to list all types defined in the schema and get details about each:
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.schema "" config.graphql.host}}'>Run in explore</a>
      </p>

      <pre class="query">{{{graphQLQuery queries.schema}}}</pre>

      <p>
        Query
        <code class="red">__type</code> to get details about any type:
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.type "(name:\"Artwork\")" config.graphql.host}}'>Run in explore</a>
      </p>

      <pre class="query">{{{graphQLQuery queries.type '(name: "Artwork")'}}}</pre>



      <h2>
        <a name="artworks">Artworks</a>
      </h2>

      <p>
        This query selects all of the artworks and can be filtered by certain fields shown below. Note: filters are
        <em>additive</em> rather than
        <em>or</em>, filtering two fields will only return records that match both.
      </p>

      <p>
        Valid filters are:
        <code class="red">area</code>,
        <code class="red">category</code>,
        <code class="red">maker</code>,
        <code class="red">medium</code>,
        <code class="red">ExhibitionID</code> &amp;
        <code class="red">limit</code>.
      </p>

      <p class="runinexplore">
        <a href='{{exploreQuery queries.artworks "(limit: 20)" config.graphql.host}}'>Run in explore</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.artworks '(limit: 20)'}}}</pre>

      <p>
        cURL
      </p>
      <p>
        <pre class="query terminal">{{{curlQuery queries.artworks '(limit: 20)' config.graphql.host user.apitoken}}}</pre>
      </p>

      <p>
        NodeJS.
      </p>
      <p>
        <pre class="query node">{{{nodeQuery queries.artworks '(limit: 20)' config.graphql.host user.apitoken}}}</pre>
      </p>
      ---}}
    </div>
  </div>

  {{> tail}}
</body>

</html>