<html>

<head>
  <title>Dashboard - developer</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentaion">

      <h1>Developer Documention</h1>
      <p>
        Hello and welcome to the developer portal for the WCMA api, below you will find your API key and the details you need to
        start making calls to our GraphQL server.
        <form>
          <table class="api">
            <tr>
              <td>API token:</td>
              <td class="token">{{user.apitoken}}</td>
            </tr>
          </table>
        </form>
    </div>
  </div>

  {{> tail}}
</body>

</html>