<html>

<head>
  <title>Dashboard - upload JSON</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>Upload JSON</h1>

      <h2>Object JSON</h2>
      {{#if config.tms}}
      <p>
        If you have a JSON file jam packed full of objects, then you can upload it here. Each time you upload a JSON file it will
        be rescanned for new and modified records. Please note when you 1st upload a file it can take a while for all objects
        to appear in the GraphQL. After the initial batch of objects have been uploaded to the GraphQL system smaller updates
        should happen a lot quicker.
      </p>
      <p>
        You should be able to track the progress of new uploaded via the
        <a href="/stats">Stats</a> page.
      </p>
      <p>
        <strong>Note:</strong> When uploading an XML file you should pick the TMS instance that the objects relate to.
      </p>

      <form method="post" enctype="multipart/form-data">
        <table class="api">
          <tr>
            <td style="width: 40%">Objects JSON file:</td>
            <td>
              <input type="file" name="objectJSON">
            </td>
          </tr>
          <tr>
            <td>Select TMS system</td>
            <td>
              <ul class="tmsSelect">
                {{#each config.tms}}
                <li>
                  <input type="radio" name="tms" value="{{stub}}" {{#ifEqual @index 0}}checked{{/ifEqual}}>{{stub}}
                </li>
                {{/each}}
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <br />
              <button type="submit" value="updateObjectJSON" name="action">Upload</button>
            </td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </form>
      {{else}} {{#if user.role.isAdmin}}
      <p>
        Before you can upload an objects XML file, you need to register a TMS system that the file has supplemental information for.
        You can do that on the
        <a href="/config">Config</a> page.
      </p>
      {{else}}
      <p>
        Before you can upload an objects XML file, a TMS system needs to be registered that this JSON file will be referenced against.
        Please ask an Admin user to do this for you.
      </p>
      {{/if}} {{/if}}

    </div>
  </div>

  {{> tail}}
</body>

</html>