<html>

<head>
  <title>Dashboard - search - event</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>Search - Event - {{id}}</h1>

      <h2>Local JSON data</h2>

      <h4>To process</h4>
      {{#if processJSON}}
      <pre class="query json">{{{jsonCode processJSON}}}</pre>{{else}}
      <p>There is no file to process.</p> {{/if}}

      <h4>Processed file</h4>
      {{#if processedJSON}}
      <pre class="query json">{{{jsonCode processedJSON}}}</pre>{{else}}
      <p>There is no processed file.</p> {{/if}}

      <hr>

      <h2>ElasticSearch results</h2>

      {{#if elasticSearchJSON}}
      <pre class="query json">{{{jsonCode elasticSearchJSON}}}</pre>{{else}}
      <p>No elasticSearch configured, or no response.</p> {{/if}}

      <hr>
      <h2>GraphQL response</h2>

      {{#if graphQLresults}}
      <p>
        <strong>Note:</strong> this graphQL query is using a shorter form of
        <code>objects</code> to save space.
      </p>
      <pre class="query json">{{{jsonCode graphQLresults}}}</pre>{{else}}
      <p>No graphQL configured, or no response.</p> {{/if}}

      <hr>
      <h2>GraphQL query</h2>
      <p>
        <strong>Note:</strong> this graphQL query is using a shorter form of
        <code>objects</code> to save space.
      </p>
      <p class="runinexplore">
        <a href='{{exploreQuery queries.event searchFilter config.graphql.host}}'>Run in the playground</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.event searchFilter}}}</pre>

      <hr>

      <p>
        All queries executed in {{executionTime}}ms
      </p>

    </div>
  </div>

  {{> tail}}
</body>

</html>