<html>

<head>
  <title>Dashboard - search - object</title>
  {{> head}}
  <link href="/css/prism.css" rel="stylesheet" />
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>Search - Object - {{id}}</h1>
      {{#if config.spelunker}}
      <p>
        <a href="{{config.spelunker.host}}/objects/{{id}}">View Object {{id}} on the spelunker</a>
      </p>
      {{/if}}
      <h2>Local JSON data</h2>

      <h4>To process</h4>
      {{#if processJSON}}
      <pre class="query json">{{{jsonCode processJSON}}}</pre>{{else}}
      <p>There is no file to process.</p> {{/if}}

      <h4>Processed file</h4>
      {{#if processedJSON}}
      <pre class="query json">{{{jsonCode processedJSON}}}</pre>{{else}}
      <p>There is no processed file.</p> {{/if}}

      <h4>TMS &amp; extra information</h4>
      {{#if perfectJSON}}
      <pre class="query json">{{{jsonCode perfectJSON}}}</pre> {{#if config.cloudinary}} {{#if perfectJSON.remote}}
      <p style="text-align: center">
        <img src="http://res.cloudinary.com/{{config.cloudinary.cloud_name}}/image/upload/w_500,h_500,c_fill_pad,g_auto/v{{perfectJSON.remote.version}}/{{perfectJSON.remote.public_id}}.{{perfectJSON.remote.format}}">
      </p>
      {{/if}} {{/if}} {{else}}
      <p>There is no TMS or extra information.</p> {{/if}}

      <hr>

      <h2>ElasticSearch results</h2>

      {{#if elasticSearchJSON}}
      <pre class="query json">{{{jsonCode elasticSearchJSON}}}</pre>{{else}}
      <p>No elasticSearch configured, or no response.</p> {{/if}}

      <hr>

      <h2>GraphQL response</h2>

      {{#if graphQLresults}}
      <pre class="query json">{{{jsonCode graphQLresults}}}</pre>{{else}}
      <p>No graphQL configured, or no response.</p> {{/if}}

      <hr>

      <h2>GraphQL query</h2>
      <p class="runinexplore">
        <a href='{{exploreQuery queries.objectLarge searchFilter config.graphql.host}}'>Run in the playground</a>
      </p>
      <pre class="query">{{{graphQLQuery queries.objectLarge searchFilter}}}</pre>

      <hr>

      <p>
        All queries executed in {{executionTime}}ms
      </p>

    </div>
  </div>

  {{> tail}}
</body>

</html>