<html>

<head>
  <title>Dashboard - admin</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>Admin</h1>
      <p>
        <ul>
          <li>
            <a href="/admin/users">Users</a>
          </li>
        </ul>

        <h3>DANGER!</h3>

        <ul>
          <li>
            <a href="/admin/blow/away/index/events_wcma">Blow away index for events_wcma</a>
          </li>
        </ul>
      </p>
    </div>
  </div>

  {{> tail}}
</body>

</html>