<nav class="header">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">WCMA</a>
    {{#if user}}
    <ul>

      {{#if user.roles.isDeveloper}}
      <li>
        <a href="/developer">Developer</a>
      </li>
      {{/if}} {{#if user.roles.isAdmin}}
      <li>
        <a href="/config">Config</a>
      </li>
      {{/if}} {{#if (or user.roles.isAdmin user.roles.isStaff)}}
      <li>
        <a href="/uploadJSON">Upload JSON files</a>
      </li>
      <li>
        <a href="/stats">Stats</a>
      </li>
      <li>
        <a href="/api">API</a>
      </li>
      {{/if}}
    </ul>

    <ul class="right">
      <li>
        <a href="/settings">
          <img class="avatar" src="{{user.picture}}" />{{user.nickname}}</a>
      </li>
      {{#if user.roles.isAdmin}}
      <li>
        <a href="/admin">Admin</a>
      </li>
      {{/if}}
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
    {{else}}
    <ul class="right">
      <li>
        <a href="/login">Login</a>
      </li>
    </ul>
    {{/if}}
  </div>
</nav>
{{#if user}} {{> connections}} {{/if}}